@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

.container-fluid{
    padding: 0px;
}

.frontCover img{
    width: 100%;
    height: 36rem;
}

.shadow{
    position: absolute;
    width: 100%;
    height: 36rem;
    z-index: 1;
    background-color: #000;
    opacity: 0.8;
}

.description{
    left: 30%;
    right: 30%;
    top: 35%;
    position: absolute;
    z-index: 2;
    text-align: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

.card{
    border-style: none;
    padding: 4px;
    height: 21rem;
    margin-top: 17px;
}

.card:hover{
    cursor: pointer;
}

.characterImage{
    width: 100%;
    height: 12rem;
    border-radius: 0px;
    transition: all 0.5s;
}

/*.card:hover .characterImage{
    transform: scale(1.1);
}*/

.card-body{
    background-color: #1C1C1C;
    height: 8rem;
}

.downEffect{
    position: absolute;
    background-color: #e62429;
    padding: 0px;
    width: 182px;
    height: 2px;
    z-index: 1;
    float: left;
    left: 4px;
    top: 196px;
    transition: 600ms;
}

.card:hover .downEffect{
    height: 136px;
    transition: 400ms;
}

.card-body::after{
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: #FFF;
    border-style: solid;
    border-top-color: transparent;
    border-width: 15px 15px 0 0;
    bottom: 1%;
    content: "";
    position: absolute;
    right: 2%;
    top: auto;
    z-index: 40;
}

.card-body h6{
    position: absolute;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
}

.cardsDescription{
    padding: 20px 0px 7px 2px;
}

.cardsDescription h3{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

.cardsDescription hr{
    margin: 0px;
    border-top: 2px solid rgba(0,0,0,.1);
}