<app-main></app-main>
<div class="container-fluid">
  <div class="frontCover">
    <div class="shadow"></div>
    <div class="description">
      <h1>MARVEL CHARACTERS</h1>
      <h5>Get addicted to generous help from heroes and villains from the humble House of Ideas!</h5>
    </div>
    <img src="../../../assets/weak1.jpg" alt="Foto de capa">
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-md-12 cardsDescription">
        <h3>MARVEL CHARACTERS LIST</h3>
        <hr>
      </div>
        <div *ngFor="let obj of objs" class="card col-md-2">
            <img src={{obj.thumbnail.path}}.{{obj.thumbnail.extension}} class="card-img-top characterImage" alt="...">
            <div class="card-body">
              <div class="downEffect"></div>
              <h6 class="card-title">{{ obj.name }}</h6>
            </div>
          </div>
    </div>
</div>
