<header>
    <div class="container" id="logo-container">
        <div class="logo">
            <img src="../../../assets/logo01.PNG" alt="Logo Marvel"/>
        </div>
    </div>
    <div class="container-fluid" id="nav-container">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link">VIDEOS</a>
            <a [routerLink]="['characters']" class="nav-item nav-link">CHARACTERS</a>
            <a href="#" class="nav-item nav-link">COMICS</a>
            <a href="#" class="nav-item nav-link">MOVIES</a>
            <a href="#" class="nav-item nav-link">TV SHOWS</a>
            <a href="#" class="nav-item nav-link">GAMES</a>
            <a href="#" class="nav-item nav-link">NEWS</a>
            <a href="#" class="nav-item nav-link">MORE</a>
        </div>
    </div>
</header>