@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 0;
}

header{
    background-color: #202020;
}

#logo-container{
    padding-top: 0;
    padding-bottom: 0;
}

.logo{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 12%;
}
.logo img{
    width: 95%;
    text-align: center;
    margin-left: 3px;
}
#nav-container{
    border-top: #4F4F4F solid 1px;
}
.navbar-nav{
    flex-direction: initial;
    width: 724px;
    height: 34px;
    margin-left: auto;
    margin-right: auto;
}
.navbar-nav a{
    position: relative;
    padding: 8px 22px;
    color: #FFF;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 14px;
}
.navbar-nav a:hover{
    color: #C0C0C0;
    border-bottom: #FF0000 solid 2px;
}